<section id="backend-section">
    <div class="container">
        <h2>Backend: Realizzazione con Spring Boot</h2>
        <div class="section-content">
            <h3>1. Introduzione</h3>
            <p>
                Il backend del mio sito web è stato sviluppato utilizzando Spring Boot, un framework Java che permette di creare API RESTful scalabili e sicure. Ho implementato una serie di funzionalità per la gestione degli utenti e dei dati tramite un database collegato.
            </p>

            <h3>2. Autenticazione con JWT</h3>
            <p>
                Per garantire la sicurezza dell'applicazione, ho implementato l'autenticazione tramite JSON Web Token (JWT). Un esempio pratico di Spring Security richiede l'autenticazione con JWT. 
                È possibile registrarsi per ottenere il token JWT e successivamente utilizzare questo token per effettuare il login.
            </p>

            <button style="z-index: 2;" (click)="toggleCode()" class="toggle-button">
                {{ showCode ? 'Mostra meno' : 'Mostra più' }}
            </button>

            <div *ngIf="showCode" class="code-container">
                <pre><code>
                    public class JwtAuthenticationFilter extends OncePerRequestFilter {{ '{' }}
        
                      private final JwtService jwtService;
                      private final UserDetailsService userDetailsService
        
                      protected void doFilterInternal( // la prima cosa che deve fare il filtro è controllare se la richiesta ha il jwt
                      &#64;NonNull HttpServletRequest request, &#64;NonNull HttpServletResponse response,
                      &#64;NonNull FilterChain filterChain) throws ServletException, IOException {{ '{' }}
                      final String authHeader = request.getHeader("Authorization");
                      final String jwt;
                      if (authHeader == null || !authHeader.startsWith("Bearer ")) {{ '{' }}
                        filterChain.doFilter(request, response);
                        return;
        
                        jwt = authHeader.substring(7);
                        final String userEmail = jwtService.extractUsername(jwt);
                
                        if (userEmail != null && SecurityContextHolder.getContext().getAuthentication() == null) {{ '{' }}
                            UserDetails userDetails = this.userDetailsService.loadUserByUsername(userEmail);
                
                            if (jwtService.isTokenValid(jwt, userDetails)) {{ '{' }}
                                UsernamePasswordAuthenticationToken authToken = new UsernamePasswordAuthenticationToken(
                                    userDetails, null, userDetails.getAuthorities());
                                authToken.setDetails(new WebAuthenticationDetailsSource().buildDetails(request));
                                SecurityContextHolder.getContext().setAuthentication(authToken);
                                {{ '}' }}
                            {{ '}' }}
                        {{ '}' }}
                        filterChain.doFilter(request, response);
               
                          {{ '}' }}
                </code></pre>
            </div>

            <h3>3. Registrazione e Accesso</h3>
            <form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
                <h4>Registrazione</h4>
                <p>Inserire Email e password casuali</p>
                <input type="email" name="email" placeholder="Email" ngModel required>
                <input type="password" name="password" placeholder="Password" ngModel required>
                <button type="submit">Registrati</button>
            </form>
            <div *ngIf="showRegisterInfo" class="info-message">
                <p>Quando clicchi su "Registrati", il backend genera un token JWT e lo restituisce al browser. Questo token viene salvato localmente per future richieste di accesso.</p>
                <div><p ><strong>Token JWT:</strong></p><span  ><p style="color: #ffffff !important;" >{{ jwtToken }}</p></span></div>
                <img src="assets/google.png">
                <p>Il localStorage può essere visionato anche dalla console di Google</p>
            </div>
            
            <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
                <h4>Accesso</h4>
                <p>Inserire Email e password scelti precedentemente</p>
                <input type="email" name="email" placeholder="Email" ngModel required>
                <input type="password" name="password" placeholder="Password" ngModel required>
                <input type="password" name="jwtToken" ngModel required placeholder="Incolla il token JWT" />
                <button type="submit">Accedi</button>
            </form>
            <div *ngIf="showLoginInfo" class="info-message">
                <p>Quando clicchi su "Accedi", il token JWT salvato viene inviato al backend per verificare l'autenticità. Se le credenziali sono corrette, ottieni accesso alle funzionalità protette.</p>
                <p>Inoltre, la sezione "Progetti" è ora visibile, dimostrando come funziona realmente il backend in questo semplice esempio. È importante notare che nella pratica le cose possono essere più complesse: tutti i path degli endpoint sono protetti, tranne quelli di registrazione e autenticazione, che sono accessibili senza restrizioni.</p>
            </div>

            <h3>4. Connessione al Database</h3>
            <p>
                Il backend è collegato a un database MySQL. La configurazione di base è gestita tramite il file <code>application.properties</code>:
            </p>
            <pre><code>
spring.datasource.url=jdbc:postgresql://localhost:5432/sito-curriculum
spring.datasource.username=root
spring.datasource.password=password
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.default_schema=public
spring.jpa.show-sql=true
            </code></pre>

            <!-- Sezione per la visualizzazione dei progetti -->
        
            <section id="disclaimer-section">
                <div class="container">
                    <h2>Disclaimer: Un Sito, Molte Possibilità 🚀</h2>
                    <p>
                        <strong>Questo sito web è stato deployato con GitHub Pages</strong>, il che significa che attualmente funziona come una <strong>pagina web statica</strong>.
                        Sebbene GitHub Pages sia un modo rapido e gratuito per ospitare progetti come questo, è importante notare che <strong>il backend non è attualmente connesso</strong>.
                    </p>
                    <p>
                        Non lasciarti ingannare dalla sua semplicità! Sto lavorando attivamente per portare questo progetto su un server Hetzner, sfruttando immagini Docker e Docker Compose.
                        Attualmente, il sito è statico, ma nel prossimo futuro sarà implementato correttamente con un backend completamente funzionante.
                    </p>
            
                    <p>
                        Nel frattempo, ti invito a esplorare liberamente il <strong>frontend</strong> per scoprire come sono strutturate le funzionalità e le logiche di un'applicazione moderna.
                        Spero che questo progetto possa ispirarti e mostrarti le potenzialità di una soluzione full-stack.
                    </p>
            
                    <p class="final-call">
                        <strong>Curioso di vedere come sarà in azione su un server reale?</strong> 🚀 Con un semplice deploy su Hetzner, il gioco sarà fatto!
                    </p>
                </div>
            </section>
            
        </div>
    </div>
</section>
